body {
  margin: 0;
  background-color: #121212;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-image: url('./img/image\ 36.png');
  height: 25vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2.5em;
}

.title {
  font-size: 2.625rem;
}

.subtitle {
  font-size: .875rem;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: -1em;
}

.search-icon {
  width: 1em;
  position: absolute;
  left: 1em;
}

.textbox {
  background-color: #2e2e2f;
  border: none;
  flex: 1;
  height: 2.75em;
  border-radius: 5px;
  color: white;
  padding: 0 41px;
  font-family: inherit;
}

.textbox::placeholder {
  color: #a5a5a5;
}

.textbox:active,
.textbox:focus {
  outline: none;
}

.search-btn {
  height: 2.85em;
  width: 8em;
  background-color: #4b4b4b;
  color: white;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}