/* General */
/* * {
  border: 1px solid yellow;
} */


body {
  margin: 0;
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
.add-icon {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.border-bottom {
  border: 1px solid #2c2c2c;
  bottom: 0;
  width: 100%;
  margin: 1em 0 2.25em;
}

img {
  color: white;
}

/* Header */

header {
  background-image: url('./img/image\ 36.png');
  height: 25vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 2.5em;
  width: 100%;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.title {
  font-size: 2.625rem;
  margin: 0;
}

.subtitle {
  font-size: .875rem;
  text-align: center;
}

/* Search Bar */

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  position: relative;
  margin-top: -1em;
}

.search-icon {
  width: 1em;
  position: absolute;
  left: 1em;
}

.textbox {
  background-color: #2e2e2f;
  border: none;
  flex: 1;
  height: 2.75em;
  border-radius: 5px;
  color: white;
  padding: 0 41px;
  font-family: inherit;
}

.textbox::placeholder {
  color: #a5a5a5;
}

.textbox:active,
.textbox:focus {
  outline: none;
}

.search-btn {
  height: 2.85em;
  width: 8em;
  background-color: #4b4b4b;
  color: white;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* Movie Field */

.movie-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.movie-container {
  display: flex;
  align-items: center;
  width: 90%;
  flex-direction: column;
  margin-top: 2.625em;
}


.item-container {
  display: flex;
  justify-content: space-between;
  gap: 1.25em;
  position: relative;
  width: 100%;
}

.movie-img {
  height: 9em;
  margin: 0 0 1.25em .25em;
  max-width: 20%;
}

.movie-text {
  flex: 1;
}

.movie-info-1,
.movie-info-2 {
  color: white;
  display: flex;
  align-items: center;
}

.movie-info-1 {
  margin-bottom: .7em;
}

.movie-title {
  margin-right: .33em;
}

.movie-info-2 {
  gap: 1.2em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.add-to-watchlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .35em;
}

.movie-info-3 {
  color: #a5a5a5;
  margin-top: 0;
  margin-bottom: 2.1em;
}

/* Watchlist */
.watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.watchlist h2 {
  color: #787878;
}

.add-movies {
  display: flex;
  align-items: center;
  color: white;
  font-size: .875rem;
  gap: 5px;
}

/* Javascript classes */
.none {
  display: none;
}